<!-- <div class="col-lg-6" *ngIf="identity">
 FORMULARIO -->
<div class="col-lg-6">
  <h1>{{ titulo }}</h1>
  <div *ngIf="alertMessage" class="alert alert-info">
    {{ alertMessage }}
  </div>
  <form #userUpdateForm="ngForm" (submit)="onSubmit()" action="" class="">
    <p>
      <label for="nombre">Nombre:</label>
      <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required
             id="nombre">
      <span *ngIf="!name.valid && name.touched" class="alert-danger">El nombre es obligatorio</span>
    </p>
    <p>
      <label for="apellidos">Apellidos:</label>
      <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control"
             required id="apellidos">
      <span *ngIf="!surname.valid && surname.touched" class="alert-danger">El apellido es obligatorio</span>
    </p>
    <p>
      <label for="email_r">Correo electrónico:</label>
      <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required
             id="email_r">
      <span *ngIf="!email.valid && email.touched" class="alert-danger">El email es obligatorio</span>
    </p>

    <div class="image_for_edit" *ngIf="user.image && user.image != null">
      <img src="/">
    </div>
    <p>
      <label for="file">Sube tu foto:</label>
      <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)"/>
    </p>
    <input type="submit" value="Actualizar mis datos" class="btn btn-primary">
  </form>
</div>
<!--</div>-->
