/* You can add global styles to this file, and also import other style files */
body{
  //background-color: $colorPrincipal-ligther;
  //@include gradient-x(red, yellow);
}
@import url('https://fonts.googleapis.com/css?family=Exo:300,400,600,900');

body{
  font-family: 'Exo', sans-serif;
  color: greenyellow;
  font-size: 16px;
}
html *{}
