<div *ngIf="identity" class="navigation col-lg-1">
  <h1 class="head-title">
    <a [routerLink]="['/']">
      <span class="glyphicon glyphicon-music"></span>
    </a>
    {{title}}
  </h1>
  <nav id="navigation">
    <a class="">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      Buscar
    </a>
    <a [routerLink]="['/artistas', 1]" [routerLinkActive]="['actived']" class="">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      Artistas
    </a>
    <a class="">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      Albums
    </a>
  </nav>
  <nav id="user_logged">
    <div class="user-image">
      <img id="image-loaded" src="{{ url + 'get-image-user/' + identity.image }}" class="img-responsive img-circle">
    </div>
    <div class="alert alert-info" id="identity_name">{{ identity.name }}</div>
    <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']" class="">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Mis datos
    </a>
    <a (click)="logout()" class="btn_logout">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      Salir
    </a>
  </nav>
</div>

<div [class.hidden]="!identity" class="central col-lg-11">
  <router-outlet></router-outlet>
</div>

<div *ngIf="!identity" class="col-lg-11">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <div *ngIf="errorMessage" class="alert alert-info">
      <strong>Error</strong> {{ errorMessage }}
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
      <p>
        <label for="email">Correo electrónico:</label>
        <input type="email" #email="ngModel" id="email" [(ngModel)]="user.email" name="email" class="form-control"
               required>
        <span *ngIf="!email.valid && email.touched" class="alert-danger">El email es obligatorio</span>
      </p>
      <p>
        <label for="password">Contraseña:</label>
        <input type="password" #password="ngModel" id="password" [(ngModel)]="user.password" name="password"
               class="form-control" required>
      </p>

      <input type="submit" value="Entrar" class="btn btn-primary">
    </form>
  </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
    <div *ngIf="alertMessage" class="alert alert-info">
      {{ alertMessage }}
    </div>
    <form #registerForm="ngForm" (submit)="onSubmitRegister()" action="" class="">
      <p>
        <label for="nombre">Nombre:</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required
               id="nombre">
        <span *ngIf="!name.valid && name.touched" class="alert-danger">El nombre es obligatorio</span>
      </p>
      <p>
        <label for="apellidos">Apellidos:</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control"
               required id="apellidos">
        <span *ngIf="!surname.valid && surname.touched" class="alert-danger">El apellido es obligatorio</span>
      </p>
      <p>
        <label for="email_r">Correo electrónico:</label>
        <input type="text" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required
               id="email_r">
        <span *ngIf="!email.valid && email.touched" class="alert-danger">El email es obligatorio</span>
      </p>
      <p>
        <label for="password_r">Contraseña:</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password"
               class="form-control"
               required id="password_r">
        <span *ngIf="!password.valid && password.touched" class="alert-danger">La contraseña es obligatoria</span>
      </p>
      <input type="submit" value="Regístrate" class="btn btn-primary">
    </form>
  </div>
</div>
