html, body {
  margin: 0px;
  height: 100%;
  background-color: #eeeeee;
}

.actived {
  border-bottom: 4px solid #2aabd2;
  padding-bottom: 4px;
}

.central {
  height: 100%;
  overflow-y: scroll;
}

.seguro {
  margin-top: -30px;
  background-color: #0f0f0f;
  position: absolute;
}

.head-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.navigation {
  text-align: center;
  color: white;
  background-color: #0f0f0f;
  height: 100%;
}

.navigation a {
  color: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.navigation a:hover {
  color: white;
}

.navigation .glyphicon {
  font-size: 25px;
  display: block;
  width: 100%;
}

#user_logged {
  background-color: #0f0f0f;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user_logged img {
  height: 50px;
  width: 50px;
  margin-bottom: 15px;
}

.btn_logout {
  cursor: pointer;
}

.artist_image_for_edit img {
  width: 150px;
}

.artist-list {
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  list-style: none;
}

.artist-item {
  width: 23%;
  margin: 20px 0px 0px 20px;
  padding: 0px;
  height: 317px;
  border: 1px solid #444;
}

.artist-item .artist-image {
  height: 245px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #0f0f0f;
}

.artist-item .artist-image img {
  height: 100%;
}

.artist-item .artist-name {
  color: white;
  padding: 10px;
  background-color: #0f0f0f;
}

.artist-item .artist-name a {
  color: white;
}

#artist-head-card .image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

#artist-head-card .image img {
  height: 150px;
}

