$colorPrincipal: green;
$colorPrincipal-ligth: lighten($colorPrincipal, 20%);
$colorPrincipal-ligther: lighten($colorPrincipal, 40%);
$colorPrincipal-ligthest: lighten($colorPrincipal, 60%);
$colorPrincipal-dark: darken($colorPrincipal, 10%);
$colorPrincipal-darker: darken($colorPrincipal, 15%);
$colorPrincipal-darkest: darken($colorPrincipal, 20%);
$colorSecundario: #ffee50;
$colorSecundario-ligth: lighten($colorSecundario, 20%);
$colorSecundario-ligther: lighten($colorSecundario, 40%);
$colorSecundario-ligthest: lighten($colorSecundario, 60%);
$colorSecundario-dark: darken($colorSecundario, 20%);

$margen-top-general: 5rem;
$separacion-general: 1.5rem;

